html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */


h1{
	/* font-size: 50px; */
    text-align: justify;
    display:none;
	color: #130c0d;
	font-style: italic;
    width:600%;
    font-size: xx-large;
    
}

    nav{
        width:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: right;
        gap: 20px;
       
    }
        

 h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
    color: rgb(12 60 101);
    font-size: larger;
}


p {
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 10px;
    font-size: large;
}



header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: red;
    
}

.logo{
    display: flex;
}


.logo-img{
    height: 40px;
    width: 40px;
}


a:hover{
    color: aquamarine;
    text-decoration: underline;
}

.main {
    /* width: 800px; */
    background-color: #f7f7f7;
    margin-left: 20%;
}

section{
    display: flex;
}

.main-left{
    flex: 3;
    padding: 20px;

}

.main-right{
    background-color: #b5ead8;
    flex: 1;
    padding: 15px;
}

    


.side {
    background-color: #341c9e;
    top: 0;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

footer {
    width: 100vw;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    height: 10%;
    background-color: #16a65c;
    text-align: left;

}

footer span{
    margin: 2px;
}
 

@media (width >= 450px) {
     h1{
        display: none;
    }


    header {
        justify-content: space-between;
        
    }

    header img {
        order: -1;
        display: block;
        margin-left: 20px;
    }

    header nav {
        flex-flow: row wrap;
        align-self: center;
        margin-right: 50px;
        font-size: 20px;
        justify-content: center;
        height: 40px;
    }
}

@media (width >= 992px) {
    h1{
        display: contents;
    }

    .container {
		grid-template: 100px minmax(1fr auto) 100px / 2fr 2fr;	
        grid-template-areas:
            "head head"
            "main aside"
            "foot foot";
    }     
}